.navbar-wrapper
  .container
    .navwrapper
      .navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.menuItem(data-target="oNas")
                %a{href: "#oNas"}= t("header.o_nas")
              %li.menuItem(data-target="oferta")
                %a{href:"#oferta"}= t("header.oferta")
              %li.menuItem(data-target="kontakt")
                %a{href:"#kontakt"}= t("header.kontakt")
            %ul.nav.navbar-nav.countries
              %li.menuItem
                %a{href: "/pl"}
                  %img{src: "/images/pl.png"}
              %li.menuItem
                %a{href: "/ru"}
                  %img{src: "/images/ru.png"}
              %li.menuItem
                %a{href: "/en"}
                  %img{src: "/images/gb.png"}


#contents
  #oNas.container-fluid.dark
    .header
      %h2.wide
        %span= t("pages.o_nas.title")
    .col-md-12.col-md-offset-1.message
      .row
        .ss-pika.ss-home
        %span= t("pages.o_nas.location")
      .row
        .ss-pika.ss-checkheart
        %span= t("pages.o_nas.love")
      .row
        .ss-pika.ss-forklift
        %span= t("pages.o_nas.baza")
      .row
        .ss-pika.ss-weight
        %span Produkujemy 40 ton czereśni i 150 ton wiśni
      .row
        .ss-pika.ss-compose
        %span Pakujemy i schładamy wedle ustaleń klienta
      .row
        .ss-pika.ss-check
        %span Owoce przechowujemy w chłodniach ULO
      .row
        .ss-pika.ss-sync
        %span Owoce płukamy płuczkami CO2
      .row
        .ss-pika.ss-leaf
        %span Nasze owoce są bez pestycydów i metali ciężkich dzięki produkcji metodą Integrowanej Produkcji (IP)
  #oferta.container-fluid
    .header
      %h2
        %span Oferta
    .info
      .row.top W naszej ofercie posiadamy owoce najwyższej jakości
      .row.items
        .col-md-4
          .row
            .col-md-4.img
              %img{src: "/images/jabko1.jpg"}
            .col-md-4.type
              Jabłka
          %ul
            %li Alwa
            %li Gala
            %li Gloster
            %li Golden Delicious
            %li Idared
            %li Jonagold
            %li Jonagored
            %li Ligol
            %li Lobo
            %li Paulared
            %li Piros
            %li Szampion
        .col-md-4
          .row.wisnia
            .col-md-4.img
              %img{src: "/images/wisnia2.jpg"}
            .col-md-4.type
              Wiśnie
          %ul
            %li Groniasta
            %li Łutówka
        .col-md-4
          .row.czeresnia
            .col-md-4.img
              %img{src: "/images/czeresnia2.jpg"}
            .col-md-4.type
              Czereśnie
          %ul
            %li Korida
            %li Poznańska
            %li Regina
            %li Summit
            %li Burlat
      .row.bottom
        Wszystkie owoce dostępne są w różnych kalibrach i opakowaniach wedle życzenia kupującego. 
        %br
        Owoce możemy schłodzić jak i dostarczyć do odbiorcy po wcześniejszych uzgodnieniach.
  #kontakt.container-fluid
    .header
      %h2
        %span Kontakt
    .col-md-4
      .kwadrat
        %a{href:"tel:+48507710454"}
          %h1 TELEFON
          .ss-pika.ss-phone
          .content +48 507 710 454
    .col-md-4
      .kwadrat
        %a{href:"mailto:damianseb@gmail.com"}
          %h1 EMAIL
          .ss-pika.ss-mail
          .content damianseb@gmail.com
    .col-md-4
      .kwadrat
        %a{href:"https://www.google.com/maps/d/edit?mid=zDIGzDbSwk94.kuNAry03u7Xg", target: "_blank"}
          %h1 ADRES
          .ss-pika.ss-location
          .content
            %p Stanisławów 19
            %p 26-803 Promna
            %p Polska
