.navbar-wrapper
  .container
    .navwrapper
      .navbar.navbar-inverse.navbar-static-top
        .container
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              %li.menuItem(data-target="oNas")
                %a{href: "#oNas"}= t("header.o_nas")
              %li.menuItem(data-target="oferta")
                %a{href:"#oferta"}= t("header.oferta")
              %li.menuItem(data-target="kontakt")
                %a{href:"#kontakt"}= t("header.kontakt")
            %ul.nav.navbar-nav.countries
              %li.menuItem
                %a{href: "/pl"}
                  %img{src: "/images/pl.png"}
              %li.menuItem
                %a{href: "/ru"}
                  %img{src: "/images/ru.png"}
              %li.menuItem
                %a{href: "/en"}
                  %img{src: "/images/gb.png"}

#contents
  #oNas.container-fluid.dark
    .header
      %h2.wide
        %span= t("pages.o_nas.title")
    .col-md-12.col-md-offset-1.message
      .row
        .ss-pika.ss-home
        %span= t("pages.o_nas.location")
      .row
        .ss-pika.ss-checkheart
        %span= t("pages.o_nas.love")
      .row
        .ss-pika.ss-forklift
        %span= t("pages.o_nas.baza")
      .row
        .ss-pika.ss-weight
        %span= t("pages.o_nas.production")
      .row
        .ss-pika.ss-compose
        %span= t("pages.o_nas.pack")
      .row
        .ss-pika.ss-check
        %span= t("pages.o_nas.ulo")
      .row
        .ss-pika.ss-leaf
        %span= t("pages.o_nas.ecology")
      .row
        .ss-pika.ss-merge
        %span= t("pages.o_nas.ip")
  #oferta.container-fluid
    .header
      %h2
        %span= t("pages.oferta.title")
    .info
      .row.top= t("pages.oferta.jakosc")
      .row.items
        .col-md-4
          .row
            .col-md-4.img
              %img{src: "/images/jabko1.jpg"}
            .col-md-6.type= t("pages.oferta.jablka")
          %ul
            %li= t("pages.oferta.alwa")
            %li= t("pages.oferta.gala")
            %li= t("pages.oferta.gloster")
            %li= t("pages.oferta.golden")
            %li= t("pages.oferta.idared")
            %li= t("pages.oferta.jonagold")
            %li= t("pages.oferta.jonagored")
            %li= t("pages.oferta.ligol")
            %li= t("pages.oferta.lobo")
            %li= t("pages.oferta.paulared")
            %li= t("pages.oferta.piros")
            %li= t("pages.oferta.szampion")
        .col-md-4
          .row.wisnia
            .col-md-4.img
              %img{src: "/images/wisnia2.jpg"}
            .col-md-6.type= t("pages.oferta.wisnie")
          %ul
            %li= t("pages.oferta.groniasta")
            %li= t("pages.oferta.lutowka")
        .col-md-4
          .row.czeresnia
            .col-md-4.img
              %img{src: "/images/czeresnia2.jpg"}
            .col-md-6.type= t("pages.oferta.czeresnie")
          %ul
            %li= t("pages.oferta.korida")
            %li= t("pages.oferta.poznanska")
            %li= t("pages.oferta.regina")
            %li= t("pages.oferta.summit")
            %li= t("pages.oferta.burlat")
      .row.bottom
        = t("pages.oferta.kalibry")
        %br
        = t("pages.oferta.uzgodnienia")
  #kontakt.container-fluid
    .header
      %h2
        %span= t("pages.kontakt.title")
    .col-md-4
      .kwadrat
        %a{href:"tel:+48507710454"}
          %h1= t("pages.kontakt.telefon")
          .ss-pika.ss-phone
          .content +48 507 710 454
    .col-md-4
      .kwadrat
        %a{href:"mailto:damianseb@gmail.com"}
          %h1 EMAIL
          .ss-pika.ss-mail
          .content damianseb@gmail.com
    .col-md-4
      .kwadrat
        %a{href:"https://www.google.com/maps/d/edit?mid=zDIGzDbSwk94.kuNAry03u7Xg", target: "_blank"}
          %h1= t("pages.kontakt.adres")
          .ss-pika.ss-location
          .content
            %p= "#{t('pages.kontakt.ulica')} 19"
            %p= "26-803 #{t('pages.kontakt.wies')}"
            %p= t("pages.kontakt.polska")
